.imagePreview {
  position: fixed;
  inset: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #333333;
}

.topBar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.bottomBar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.imageContainer {
  flex: 1;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.image {
  margin: auto;
}

.control {
  background: transparent;
  border: none;
  min-width: 32px;
  min-height: 32px;
  line-height: 20px;
  color: white;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.controlWithPadding {
  padding: 0 12px;
}

.control:hover {
  background: #444444;
}
